<% include ./partials/header %>

<div class="row">
    <div class="col-lg-4 col-sm-2">
        
    </div>
        <div class="col-lg-4 col-sm-8 login ">
    	<form class="text-center"  action="/register" method="post">
    
    	    <h2 class="card-header py-4">
            	<strong>Get Registerd Now</strong>
        	</h2>
        	<br>
        	<input type="text" name="username" class="form-control mb-4" placeholder="username"><br>
        	<input type="password" name="password" class="form-control mb-4" placeholder="password">
        	<br>
    	    <br>
    	    <button class="btn btn-info btn-block my-4">Sign Up</button>
    	</form>
	</div>
</div>


<% include ./partials/footer %>